{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static 'myfirst.css' %}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
    </head>
<body>
    <nav>
        <h1 style="margin-left: 2%;margin-bottom: 5px;"><a href="/" style="color: white;">HOME</a></h1>
    </nav>
    <header class="theme padding" id="myHeader">
        <div class="center">
            <br>
            <h4 class="white animate-left text">BEST Coding Marathon 2023</h4><br>
            <h2 class="grey animate-right xlarge  text">Smart City</h4><br>
            <h1 class="light-grey xxxlarge animate-left text">Miasto 15-minutowe</h1>
            <br>
        </div>
    </header>
    <div class="describe">
        <h1 style="color: white;">JAK DZIAŁA?</h1><br>
        <div class="container">
            <h3>Nasza aplikacja :<br><br> Umożliwia sprawdzenie czy dana lokalizacja <p>spełnia warunki miasta 15-sto minutowego</p><br>
                Wyznacza obszary, które najlepiej lub najgorzej <p>spełniają warunki miasta 15-sto minutowego</p><br>
                Wyznacza obszary, które należy rozwinąć, aby miasto <p>spełniło cele strategiczne wyznaczone w Strategii Rozwoju Miasta</p> 
            </h3><br>
            <a href="{% url 'wybory' %}" ><button class="btn-nav" >ROZPOCZNIJ</button></a>
        </div>
    </div>
</body>
</html>