{% load crispy_forms_tags %}
{% load static %}
<!doctype html>
<html lang="en">
    <link rel="stylesheet" href="{% static 'myfirst.css' %}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Wybory</title>
    </head>
    <body>
        <nav>
            <h1 style="margin-left: 2%;margin-bottom: 5px;"><a href="/" style="color: white;">HOME</a></h1>
        </nav>
        <header class="theme padding" id="myHeader">
            <div class="center">
                <br>
                <h4 class="white animate-left text">BEST Coding Marathon 2023</h4><br>
                <h2 class="grey animate-right xlarge  text">Smart City</h4><br>
                <h1 class="light-grey xxxlarge animate-left text">Miasto 15-minutowe</h1>
                <br>
            </div>
        </header>
        <div class="row">
            <div class="column-map">
                <div class="mapa">
                    {{ m|safe }}
                </div>
                <div class="column-leg">
                    <div class="container-leg">
                        <h3>Dana lokalizacja w {{wynik}} % spełnia założenia miasta 15-minutowego</h3>
                        <h3>W odległości 15 minut brakuje: 
                        {% for item in bad_wynik %}
                            <li>{{ item }}</li>
                        {% endfor %}</h3>
                        <br><h3>Legenda</h3><h4>
                        <img src="/static/jedzenie.jpg" alt="">Jedzenie  <img src="/static/transport.jpg" alt="">Transport  
                        <img src="/static/kultura.jpg" alt="">Kultura i nauka  <img src="/static/roz.jpg" alt="">Sport i rekreacja  
                        <img src="/static/zawody.jpg" alt="">Praca  <img src="/static/nieb.jpg" alt="">Zdrowie  <img src="/static/czar.jpg" alt="">Wiara  
                        <img src="/static/pomaran.jpg" alt="">Reszta</h4>
                    </div>
                </div>
            </div>
            <div class="column-navig ">
                <div class="container-nav">
                    <label for="lokalizacja"><h3>Lokalizacja:</h3></label><br>
                    <br>
                    <form  method="POST" >
                        {% csrf_token %}
                        {{ form|crispy }}
                        <br>
                        <button class="btn-navig" type="submit">Sprawdź</button>
                    </form><br><br>
                    <h3>Mapa spełniania kryteriów:</h3>
                    <br>
                    <button class="btn-navig" type="submit">Wyświetl mapę</button>
                    <br><br>
                    <br>
                    <h3>Mapa obszarów do poprawy:</h3>
                    <br>
                    <button class="btn-navig" type="submit">Wyświetl mapę</button>
                    <br>
                </div>
            </div>
        </div>
    </body>
</html>